body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2 {
    animation: fadeIn 2s ease-in-out;
}

p {
    animation: slideIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.container {
    background-image: url(Vanilla-PMP_Collection-Carousel-0_Buzzy-Bees_1280x768.avif);
    color: white;
    background-position: center;
    background-size: cover;
}

.button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.buttons{
    text-align: right;
    margin-top: -25px;
 }